.status-failed {
    background-color: red;
    color: white;
}

.status-pending {
    background-color: gray;
    color: white
}

.status-paid {
    background-color: forestgreen;
    color: white;
}