<div class="container-fluid">


        <div class="row p-0">
            <div class="col-md-3 " *ngFor="let data of  loandata.top_cards">
                <div class="card ">
                    <!-- <img src="image4.jpg" class="card-img-top" alt="Card Image 4"> -->
                    <div class="card-body">
    
                        <div >
                            <h1 class="card-title">{{data.value}}%</h1>
    
                            <p class="card-text">{{data.header}}.</p>
     
                        </div>
    
                        <div>
    
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
