<div class="container-fluid" style="background-color: #f4f7fc;">
  <div class="row">
    <div class="col-md-12">
      <app-header></app-header>
     </div>
  </div>
  <div class="container-fluid row p-0">
    <div class="col-md-1">
      <app-sidebar></app-sidebar>
    </div>
    <div class="container-fluid col-md-11 p-0">
      <div class="row p-0">
        <app-loan-dashboard></app-loan-dashboard>
      </div>
      <div class="row  p-0">
        <div class="col-md-6 p-0" >
          <app-recent-orders></app-recent-orders>

        </div>
        <div  class="col-md-6 p-0">
          <app-users-registration></app-users-registration>

        </div>
      </div>
      <div class="row  p-2">
        <app-graph></app-graph>

      </div>
    </div>
  </div>

</div>